<!DOCTYPE html>
<html lang="en">
<body style = "background-color:rgb(152,208,80)">
</body>
<body>
   <h1 style="font-size: 42px;">Guide to Investment</h1>
   <p style="font-size: 24px;">Hi {{ n }}! :D</p>
   <p style="font-size: 24px;">Your savings goal is ${{ g }}.</p>
   <a href="/summary">
      <button>View Summary</button>
  </a>
   <!-- <p style="font-size: 24px;">Stats: ${{ stats }}.</p> -->
   <p style="font-size: 24px;">Stats:</p>
   <table>
      {% for key, value in stats.items() %}
      <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
      </tr>
      {% endfor %}
  </table>
   <style>
   </style>
</body>
</body>
</html>
   <style>
   </style>
</body>
</body>
</html>
