<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Flask Web Page</title> -->
</head>
<body>
    <!-- <h1>Welcome to My Flask Web Page!</h1> -->
</body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>HTML with Image</title> -->
</head>
<body>
    <!-- <h1>Your HTML Content</h1> -->
    <!-- Add the image using the img tag -->

    <img src="static/home.jpg" alt="hi">
</body>
</html>